*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/nav/js.state
/build
-build
.cxx
/captures
.externalNativeBuild
.navigation
/sinks
/app/build
.DS_Store
*.apk
*.ap_
*.dex
*.class
